.Container {
    margin-top: 135px;
    margin-bottom: 50px;
}

.Logo {
  width: 300px;
  right: 0;
  border: solid 5px #3b3b3f;
}

li {
list-style-type: circle;
}

.Skills ul, li{
  list-style-type: none;
  }

.Skills {
  margin-top: 20px;
}

.AboutUs {
  border-left : 5px solid #84d946;
}

@media (max-width:1200px) {
    .Logo {
      width: 200px;
    }
  }

  @media (max-width:1199px) {
    .AboutUs { 
      border-left: none;
    }
    .Content {
      text-align: center;
    }
    li, p {
      list-style-type: none;
    }
  }