.Container {
  margin-top: 135px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

.Before {
  padding-right: 20px;
  max-width: 50%;
}
.After {
  padding-left: 20px;
  max-width: 50%;
}

.BeforeLand {
  max-width: 100%;
}
.AfterLand {
  max-width: 100%;
}